/* ------------------fonts ----------------- */

.small-font {
  font-family: var(--poppins);
  font-style: normal;
  font-weight: 400;
  font-size: 0.93rem;
  line-height: 1.37rem;
}

.large-font {
  font-family: var(--poppins);
  font-style: normal;
  font-weight: 500;
  font-size: 1.56rem;
  line-height: 1.56rem;
}
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.text-decoration {
  text-decoration: none;
}
.list-none {
  list-style: none;
}
.justify-between {
  justify-content: space-between;
}
