@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "variables.css";
@import "common.css";
@import "dashboard.html";

/* ---------reset css--------- */
*,
*::after,
*::before,
h1,
h2,
h3,
h4,
h5,
h6,
p,
article,
audio,
ul,
video {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
html {
  background-color: var(--main-bg);
  width: 100%;
}

body {
  background-color: var(--main-bg) !important;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto !important;
  height: 100%;
  font-family: var(--poppins);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.56rem;
  overflow-x: hidden;
}
img {
  width: 100%;
  height: 100%;
}
nav > ul {
}
/* ------------asidebar------------- */
.navbar ul {
  flex-direction: column;
}
.flex.justify-between.align-center {
  flex-direction: column;
}
.flex.justify-between.align-center {
  display: block;
}
ul.mb-2.mb-lg-0.d-flex.gap-1.list-none {
  margin-left: -32px;
}
.avatar {
  text-align: center;
}
.asidebar {
  width: var(--aside-width);
  background-color: var(--aside-bg);
  box-shadow: 0 0 5px -3px black;
  position: fixed;
  height: 100vh;
  top: 0;
  z-index: 999;
}
.asidebar .avatar .avatar-photo img {
  width: 8.12rem;
  height: 8.12rem;
  border-radius: 100%;
}
.asidebar ul {
  margin: 0;
  padding: 0;
}
.asidebar ul li {
  padding: 8px 15px;
  transition: 0.1s ease-in;
}
.asidebar ul li a {
  color: #abb6e1;
}
.asidebar ul li:hover {
  border-left: 5px solid #3a83f4;
  color: #000;
}
.asidebar ul li:hover a {
  color: #000;
}
@media (max-width: 1200px) {
  .asidebar {
    display: none;
  }
}
@media (min-width: 575px) {
  .navbar ul {
    flex-direction: row;
    align-items: center;
  }
  .flex.justify-between.align-center {
    flex-direction: row;
  }
  .flex.justify-between.align-center {
    display: flex;
  }
}
/* ---------------main------------ */

.main {
  width: 100%;
  height: 100vh;
  padding-left: calc(var(--aside-width));
  position: relative;
}
.main-container {
  padding: 15px;
}
@media (max-width: 1200px) {
  .main {
    padding-left: 0;
  }
}

/* ------------navbar--------------- */
section.pending-tasks.large-font.mt-3 {
  padding: 0 15px;
}
header.py-3 {
  padding: 0 15px;
}
header .navbar li a span {
  vertical-align: middle;
  display: inline-block;
  margin-right: 10px;
}
.brand .brand-name {
  font-style: normal;
  font-weight: 500px;
  font-size: 45px;
  line-height: 25px;
  background: linear-gradient(
    90deg,
    #7d4ef2 -5.94%,
    #e96dcb 67.38%,
    #eb616d 125.63%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.pending-tasks .card .pending-value {
  font-family: var(--poppins);
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  width: 102px;
  height: 102px;
  /* background-color: pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(110deg, #ffd000 -5.94%, #f3f3f328 67.38%);
  border-radius: 100%;
  background-position: center;
  background-size: auto;
  background-clip: border-box;
}
.pending-tasks .card .pending-value span {
  width: 85px;
  height: 85px;
  background-color: #fff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quick-tasklist {
  padding: 0 15px;
}
.card-2 .card-2-f {
  width: 30px;
  height: 30px;
}
.card-2 {
  background: #ffffff;
  border-radius: 25px;
}
.card-2 h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
  color: #162849;
}
.card-2 {
  width: 600px;
}
/* .card-contant {
  padding: 0 30px;
} */

.card-2 {
  display: flex;
  width: 357px;
  align-items: center;
}
